.App {
  text-align: center;
  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  width: 100vw;
  position: fixed;
  font-size: x-large;
}

.card {
  width: 55%;
  margin: 0px auto 0px auto;
}

.login {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 3px solid rgba(255, 255, 255, 0.3);
  padding: 50px;
  flex-direction: column;
  color: whitesmoke;
}

.login-text {
  color: whitesmoke;
}

.logout {
  display: flex;
  justify-content: end;
}

.App-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: whitesmoke;
  font-weight: 700;
}

.fab {
  position: fixed;
  bottom: 60px;
  right: 75px;
}
