.App {
  text-align: center;
}

body {
  background-color: grey;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  width: 100vw;
  position: fixed;
  font-size: x-large;
}

.logout {
  display: flex;
  justify-content: end;
}

/* .photo-feed {
  margin-top: 60px;
  margin-bottom: 60px;
} */

.ant-card {
  margin-bottom: 32px;
}

.App-header {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(189, 29, 109);
  font-weight: 700;
}

.App-link {
  color: #61dafb;
}

.fab {
  position: fixed;
  bottom: 24px;
}
