.App {
  text-align: center;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  width: 100vw;
  position: fixed;
  font-size: x-large;
}

.card {
  width: 70%;
  margin: 0px auto 0px auto;
}

.logout {
  display: flex;
  justify-content: end;
}

.App-header {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  font-weight: 700;
}

.fab {
  position: fixed;
  bottom: 50px;
}
